.row {
  display: flex;
}

.title {
  text-align: center;
}

.p1 {
  line-height: 20px;
}

.content-center {
  display: flex;
  margin: auto;
}

.entry-button {
  background-color: #d9dff0;
  border-color: #d9dff0;
  display: flex;
  margin: auto;
  margin-top: 10px;
  height: 50px;
  max-width: 250px;
  width: auto;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
}

.entry-button:hover {
  background-color: #bfc9e8;
  transition: 0.3s;
}

.entry-button.reset-entries {
  background-color: red;
  color: white;
  border-color: red;
}

.entry-button.reset-entries:hover {
  background-color: #601d1e;
  transition: 0.3s;
}

.msg {
  text-align: center;
  margin-top: 5px;
  color: green;
}

.msg.red {
  color: red;
}

.admin-buttons {
  display: flex;
  max-width: 370px;
  width: auto;
  margin: auto;
}
