.tree-toggler {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid gray;
}

.tree-toggler.active {
  transition-property: transform, color;
  transition-duration: 0.3s;
  border-left: 12px solid black;
  transform: rotate(90deg);
}

.heading-container {
  padding-left: 70px;
  padding-right: 70px;
  margin: auto;
}

.major-header {
  display: inline-flex;
  hyphens: auto;
  padding-left: 20px;
  color: gray;
}

.major-header.active {
  transition-property: color;
  transition-duration: 0.3s;
  color: black;
}

.overview-container {
  margin: auto;
  margin-bottom: 150px;
}

.master-table {
  padding-bottom: 30px;
}

p {
  vertical-align: center;
}

.hybdrid-table-container {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-course {
  padding-bottom: 10px;
  padding-top: 100px;
}
.table-container {
  padding-bottom: 30px;
}

td:last-child {
  border: none;
}

.check-mark {
  margin-left: 20px;
  display: inline-flex;
  font-family: arial;
  color: green;
  transform: scaleX(-1) rotate(-35deg);
}
