nav {
  height: auto;
  /*   border: 1px solid #dfdfdf; */
  /*   width: 100%; */
  background-color: rgb(231, 235, 238);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.div-header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

li {
  display: inline-flex;
  list-style: none;
  font-size: 22px;
  padding-right: 20px;
  line-height: 25px;
  text-align: center;
  margin: auto;
}
Link {
  text-decoration: none;
  color: aqua;
}

Link.active {
  color: blue;
}
