nav {
  height: 80px;
  border: 1px solid #dfdfdf;
  width: auto;
  background-color: rgb(231, 235, 238);
}

.div-header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
  list-style: none;
  font-size: 25px;
  padding: 10px;
  line-height: 80px;
}
Link {
  text-decoration: none;
  color: aqua;
}

Link.active {
  color: blue;
}
