.first-item {
    display: flex;
}

li > ul {
    margin-left: 1px;
}

ul > li {
    margin-left: 1px;
}

ul {
    padding-left: 10px;
}

.no-bullets {
    list-style-type: none;
}

.tree-toggler {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
    padding-right: 5px;
}

.tree-toggler.active {
    transform: rotate(90deg);
}
